*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@mixin flexcenter(){
     display: flex;
            align-items: center;
            justify-content: center;

}
main{
    height: 100%;
    width: 100%;

    #container{
        height: 100%;
        width: 100%;
        background-color: white;
        position: relative;
        
        nav{
            height: 10%;
            width: 100%;
            background-color: yellowgreen;
            h3{
                font-weight: 700;
                font-size: 30px;
            }

            input{
                padding: 10px;
                border: none;
                border-radius: 9px;
                outline: none;
            }
            button{
                padding: 10px;
                border:none;
                border-radius: 5px;
                font-size: 12px;
            }


            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        #newnotedetails{
            
           position: absolute;
           left: 32%;
            height: 300px;
            width: 500px;
            margin-top: 40px;
            border-radius: 10px;
            background-color: rgb(180, 196, 110);
            display: none;
                align-items: center;
                flex-direction: column;

        &.active{
        display: flex ;
    }

            input{
                margin-top: 10px;
                width: 90%;
                padding: 10px;
                
            }
            
            #notebody{
                margin-top: 10px;
                height: 50%;
                width: 90%;
            }
            #btns{
              margin-top: 20px;

              #save{
                padding: 10px;

              }
              #discard{
                padding: 10px;

              }
            
            }

        
            
        }

       
    }
    #cards-con{
      
        position: absolute;
        display: flex;
        gap:20px;
        flex-wrap: wrap;
        top:70%;
       left:10%;
       right: 10%;
       align-items: flex-start;

        .cardstyle{
            h3{
            font-size: 25px;
            padding-bottom: 5px;
            }
            p{
                font-size: 14px;
                color:black;
            }
            button{
                padding: 5px;
                margin: 6px;

            }
           width: 300px;
           padding: 12px;
           border: 2px solid black;
           
        }

    }
    
}